.contFaq{
    width: 1000px; 
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    column-gap: 35px;
    transition: all 0.5s ease;
    animation: openPage  0.5s 1 ease-in-out;
}
.searchQ{
    width: 600px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #DBDBDB;
    margin-left: 50%;
    position: relative;
    top: 30px;
    left: -300px;
    font-size: 19px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-bottom: 40px;
}
.question{
    margin-top: 20px;
    width: 310px;
    border: 2px solid #DBDBDB;
    border-radius: 10px;
    cursor: pointer;
}
.questionName{
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    font-weight: 600;
    word-break: break-word;
    overflow: hidden;
}
.questionText{
    font-size: 15px;
    width: 80%;
    margin-left: 10%;
    word-break: break-word;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
}
.newQ{
    margin-top: 40px;
    width: 310px;
    height: 220px;
    border: 2px solid #DBDBDB;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 50%;
    position: relative;
    left: -155px;
    margin-bottom: 50px;
}
.qPlus{
    width: 60px;
    opacity: 0.25;
    margin: 70px 120px;
    cursor: pointer;
}
.questionId{
    display: none;
}
.qName{
    display: none;
    font-size: 20px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    min-height: 100px;
    resize: none;
    word-break: break-word;
    overflow: hidden;
}
.qText{
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 3px;
    min-height: 300px;
    resize: none;
    word-break: break-word;
    overflow: hidden;
}
.qSend{
    margin-top: 10px;
    display: none;
}
.qLoading{
    display: none;
}
.contUndefined{
    font-size: 25px;
    text-align: center;
    width: 305%;
}
.qDelete{
    width: 20px;
    position: relative;
    top: -28px;
    left: 5px;
}
.qChange{
    width: 20px;
    position: relative;
    top: -55px;
    left: -20px;
}
.questionNameChange{
    font-size: 20px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    min-height: 100px;
    resize: none;
    word-break: break-word;
    overflow: hidden;
}
.questionTextChange{
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;
    min-height: 300px;
    resize: none;
    word-break: break-word;
    overflow: hidden;
}
.questionChangeSend{
    margin-top: 10px;
    margin-bottom: 10px;
}
.questionChangeCross{
    width: 20px;
    height: 20px;
    position: relative;
    top: 20px;
    left: -80px;
    margin-left: 3px;
    margin-top: -5px;
    z-index: 2000;
}
.qSymbols{
    font-size: 11px;
    position: relative;
    left: 90px;
    top: -375px;
    height: 0px;
    color: #6EE34F;
}
.qSymbols2{
    font-size: 11px;
    position: relative;
    left: 90px;
    top: -495px;
    height: 0px;
    color: #6EE34F;
}